@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #D9D9D9;

}



.Login_module {

}

.span_vhod{
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-top: 130px;
  padding-bottom: 20px;
  color: rgb(63, 112, 61);
}

.Login_conteiner {
  box-sizing: border-box;
  border: 2px solid rgb(102, 199, 98);
  border-radius: 40px;
  background: rgb(255, 254, 254);

  color: rgb(0, 0, 0);
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
  height: 350px;
  padding-top: 38px;
  margin-left: 5%;
  margin-right: 5%;
}

.Reg_label {
  margin: 302px 327px 0px 26px;
  padding-top: 30px;
}

.Login_input {
border-radius: 40px;
background: rgb(217, 217, 217);
width: 252px;
height: 24px;
margin-left: 103px;
position: relative;
top: -22px;
text-indent: 3%;
border: none;
}

.span_est {
  margin-left: 113px;
  position: relative;
  top: -25px;
}

.Login_submit_button {
  color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 15px;
font-weight: 600;
line-height: 18px;
letter-spacing: 0%;
text-align: center;
/* редактировать */
position: absolute;
display: flex;
justify-content: center;
border-radius: 40px;
background: rgb(102, 199, 98);
width: 202px;
height: 28px;
margin-left: 90px;
border: none;
}

.forget_password{
  display: flex;
  text-align: center;
  margin-left: 110px;
  color:green;
  text-decoration: none;
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;

}

.reg_button{

  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  /* редактировать */
  position: absolute;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  border-radius: 40px;
  background: rgb(102, 199, 98);
  width: 202px;
  height: 40px;
  margin-left: 110px;
  border: none;
  margin-top:50px;
  text-decoration:none;
}
  
  

.Block_lk_info{
    box-sizing: border-box;
    border: 2px solid rgb(102, 199, 98);
    border-radius: 40px;
    background: rgb(255, 254, 254);
  
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
    height: 800px;
    padding-top: 38px;
    margin-left: 5%;
    margin-right: 5%;
  }


  
.lk_data{
  box-sizing: border-box;
  border: 2px solid green;
  border-radius: 40px;
  background: rgb(255, 254, 254);

  color: green;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
  height: auto;
  padding-top: 38px;
  margin-left: 5%;
  margin-right: 5%;

}

.User_card{
  


}

.Result_test{
  border-radius: 40px;
background: rgb(217, 217, 217);
width: 327px;
height: 100px;
;
position: relative;
top: 10px;
text-indent: 3%;
border: none;
text-align: center;
padding-top:  85px;
font-family: 'Montserrat', sans-serif;
font-size: 13px;
font-weight: 400;


}
.test{
  margin-top: 100px;
}



.Persanal_info{
margin-left: 20px;
font-family: 'Montserrat', sans-serif;
font-size: 13px;
font-weight: 400;

}

.Data{
  margin-left: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 400;

}
.Hard_skills{
  border-radius: 40px;
  background: rgb(217, 217, 217);
  width: 327px;
  height: 70px;
  ;
  position: relative;
  top: 0px;
  text-indent: 3%;
  border: none;
  text-align: center;
  
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 400;


}

.Hard_skills_txt{
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;

}
.test{
  
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  /* редактировать */
  position: absolute;
  display: flex;
  justify-content: center;
  display: block;
 
  padding-top: 10px;
  border-radius: 40px;
  background: rgb(102, 199, 98);
  width: 150px;
  height: 25px;
  margin-left: 90px;
  border: none;
  margin-top:20px;
  
  
  }




.Logout{
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  /* редактировать */
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 15px;
  border-radius: 40px;
  background: rgb(102, 199, 98);
  width: 202px;
  height: 25px;
  margin-left: 80px;
  border: none;
  margin-top:35px;
  text-decoration:none;



}
